{% extends 'quotes/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">
            {{ quote.text }}
        </span>
            <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small>
        <a href="/author/{{ quote.author.fullname }}">(about)</a>
        </span>
            <div class="tags">
                Tags:
                <meta class="keywords" itemprop="keywords" content="{{ quote.tags }}">

                {% for tag in quote.tags.all %}
                    <a class="tag" href="/tag/{{ tag }}/">{{ tag }}</a>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="{% if not quotes.has_previous %}disabled{% else %}previous{% endif %}">
                    <a href="{% if quotes.has_previous %}{% url 'quotes:root_paginate' quotes.previous_page_number %}{% else %}#{% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>
                <li class="{% if not quotes.has_next %}disabled{% else %}next{% endif %}">
                    <a href="{% if quotes.has_next %}{% url 'quotes:root_paginate' quotes.next_page_number %}{% else %}#{% endif %}">
                        Next <span aria-hidden="true">→</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-4 tags-box">

        <h2>Top Ten tags</h2>
        {% for tag, count in top_tags %}
        <span class="tag-item">

               <a class="tag" style="font-size: 28px" href="/tag/{{ tag }}/">{{ tag }}</a>

        </span>
        {% endfor %}

    </div>
</div>

{% endblock %}